.chartlist .chartlist-checkbox {
  width: 10px;
  padding-left: 12px;
}

.chartlist.chartlist--compact-image .chartlist-loved {
  padding-top: 6px;
  padding-left: 6px !important;
}

.date-heading {
  display: flex;
  justify-content: space-between;
}

#recent-tracks-section h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 26px;
}

.new-design .chartlist-checkbox {
  margin-right: 20px;
}

.new-design .chartlist-loved {
  display: none;
}

.new-design .chartlist-checkbox input {
  width: 14px;
  height: 14px;
}

.new-design .select-all-btn {
  font-size: 16px;
}
