.chartlist .chartlist-checkbox {
  width: 10px;
  padding-left: 12px;
}

.chartlist.chartlist--compact-image .chartlist-loved {
  padding-top: 6px;
  padding-left: 6px !important;
}

.date-heading {
  display: flex;
  justify-content: space-between;
}

#recent-tracks-section h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 26px;
}

.chartlist-loved {
  display: none !important;
}

.chartlist-checkbox {
  margin-right: 20px;
  margin-bottom: 1px;
}

.chartlist-checkbox input {
  width: 14px;
  height: 14px;
}

.select-all-btn {
  font-size: 16px;
}

.delete-selected-scrobbles-btn {
  font-weight: 600;
  color: #d92323;
}
